<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% include templates/header.ejs %>

    <h1><%= name %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% for(var i=0;i<5;i++){ %>
        <li>Testing + i</li>
      <% } %>
    </ul>

  <h3><%= videodate.categoryName %></h3>
  <ul>
    <% videodate.categories.forEach(function(item){%>
    <li><%= item.categoryDescription %></li>
    <% }); %>
  </ul>
  </body>
</html>
